<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.label :subject_name, "Subject" %>
  <%= form.text_field :subject_name, list: "subjects_autocomplete" %>
  <datalist id="subjects_autocomplete">
    <% Subject.all.each do |subject| %>
      <option value="<%= subject.name %>">
    <% end %>
  </datalist>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
