<p id="notice"><%= notice %></p>

<h1>Topic</h1>
<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= link_to @topic.subject.name, @topic.subject %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %> |
<%= link_to 'Create a Job', new_job_path %>
