
<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :type_of_user, "I am a " %>
  <%= form.select :type_of_user, options_for_select([["Student", "Student"], ["Tutor", "Tutor"]]) %>


  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :time, "Date and Time" %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :rate, "Hourly Rate" %>
    <%= form.number_field :rate %>
  </div>


  <div class="field">

    <%= form.label :topic_id, "Topic: " %>
    <%= form.collection_select :topic_id, Topic.all, :id, :name %>
    <%= link_to "or create a new topic", new_topic_path %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
