<h1>Job Board</h1>

<h4>Are you looking to hire a tutor or to help a student?</h4>
<form action="/test" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="radio" name="board_selection" value="Hire Tutor"> Hire a tutor <br>
  <input type="radio" name="board_selection" value="Help Student"> Help a student <br>
  <input type="submit" value="Go">
</form>


<h2>Tutors Needed!</h2>

<div>
  Search by Topic:
</div>

<ul>
  <% @jobs.looking_for_tutors.each do |job| %>
<li> <%= job.student.username %><br>
  <%= job.description %><br>
  <%= job.location %><br>
  <%= job.friendly_time %><br>
  <%= job.rate %><br>
  <%= job.topic.name %></li><br>
  <%= button_to "I'll teach you!", '/job_board', params: {job_id: job.id} %>
  <% end %>
</ul>



<h2>Need Tutoring?</h2>

<div>
  Search by Topic:
</div>

<ul>
  <% @jobs.looking_for_students.each do |job| %>
<li> <%= job.tutor.username %><br>
  <%= job.description %><br>
  <%= job.location %><br>
  <%= job.friendly_time %><br>
  <%= job.rate %><br>
  <%= job.topic.name %></li><br>
  <%= button_to "Teach me!", '/job_board', params: {job_id: job.id} %>
  <% end %>
</ul>
