<h2>Tutors Needed!</h2>

<div>
  Search by Subject:
</div>
<%= form_tag '/looking_for_tutors', method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>



<% if @jobs.looking_for_tutors.count > 0 %>
<div class="card-deck">
    <% @jobs.looking_for_tutors.each do |job| %>
    <div class="card p-3">
      <h5 class="card-title">Can you teach me about <%=job.topic.name%>?</h5>
      <div class="card-text">
        Student: <%= job.student.name %><br>
        Description: <%= job.description %><br>
        Subject: <%= job.subject.name %><br>
        Location: <%= job.location %><br>
        Date: <%= job.friendly_time %><br>
        Hourly Rate: $<%= job.rate %><br>
      </div><br>
        <%= button_to "I'll teach you!", '/job_board', params: {job_id: job.id}%>

  </div>
    <% end %>
  <% else %>
  <div class="col-sm">There are no students looking for tutors.</div>
  <% end %>
</div>
