<h2>Need Tutoring?</h2>

<div>
  Search by Subject:
</div>
<%= form_tag '/looking_for_students', method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


  <% if @jobs.looking_for_students.count > 0 %>
  <div class="card-deck">
      <% @jobs.looking_for_students.each do |job| %>
      <div class="card p-3">
        <h5 class="card-title">Can I teach you about <%=job.topic.name%>?</h5>
        <div class="card-text">
          Tutor: <%= job.tutor.name %><br>
          Description: <%= job.description %><br>
          Subject: <%= job.subject.name %><br>
          Location: <%= job.location %><br>
          Date: <%= job.friendly_time %><br>
          Hourly Rate: $<%= job.rate %><br>
        </div><br>
          <%= button_to "Teach me!", '/job_board', params: {job_id: job.id}%>

    </div>
      <% end %>
    <% else %>
    <div class="col-sm">There are no tutors looking for students.</div>
    <% end %>
  </div>
