<h2>Tutors Needed!</h2>

<div>
  Search by Subject:
</div>
<%= form_tag '/looking_for_tutors', method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @jobs.looking_for_tutors.count > 0 %>
  <ul>
    <% @jobs.looking_for_tutors.each do |job| %>
  <li> <%= job.student.username %><br>
    <%= job.description %><br>
    <%= job.location %><br>
    <%= job.friendly_time %><br>
    <%= job.rate %><br>
    <%= job.subject.name %><br>
    <%= job.topic.name %></li><br>
      <%= button_to "I'll teach you!", '/job_board', params: {job_id: job.id} %>
    <% end %>
  </ul>
<% else %>
  <div>There are no students looking for tutors.</div>
<% end %>
