<h2>Need Tutoring?</h2>

<div>
  Search by Subject:
</div>
<%= form_tag '/looking_for_students', method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @jobs.looking_for_students.each do |job| %>
<li> <%= job.tutor.username %><br>
  <%= job.description %><br>
  <%= job.location %><br>
  <%= job.friendly_time %><br>
  $<%= job.rate %>per hour<br>
  <%= job.subject.name %><br>
  <%= job.topic.name %></li><br>
    <%= button_to "Teach me!", '/job_board', params: {job_id: job.id} %>
  <% end %>
</ul>
