<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= @job.tutor_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @job.student_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @job.friendly_time %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @job.rate %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @job.topic_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
