<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<%= link_to 'Create a Tutoring Job', new_job_path %> |
<%= link_to 'See All Tutoring Jobs', jobs_path %> |
<%= link_to 'Edit My Profile', edit_user_path(@user) %> |
<%= link_to 'All Users', users_path %>



<% if current_user.id == @user.id %>

  <h3>My Scheduled Events</h3>

  <strong>Teaching Jobs</strong>
  <% if @user.teaching_jobs %>
    <% @user.teaching_jobs.each do |job|%>
      <% if job.has_tutor? %>
        <%= link_to "Tutoring #{job.student.name}", job_path %>
        <%= job.location %>
        <%= job.time %>
      <% else %>
      <p>You have no teaching jobs!</p>
      <% end %>
    <% end %>
  <% end %>

  <strong>Tutoring Sessions</strong>
  <% if @user.job_postings %>
    <% @user.job_postings.each do |job|%>
      <% if job.has_tutor? %>
        <%= link_to "Meeting with #{job.tutor.name}", job_path %>
        <%= job.location %>
        <%= job.time %>
      <% else %>
      <p>You have no tutoring sessions!</p>
      <% end %>
    <% end %>
  <% end %>


<% end %>


<% if current_user.id == @user.id %>
<%= button_to 'Delete My Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
