<p id="notice"><%= notice %></p>

<h1>Subject</h1>
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
  <ul>
    <% @subject.topics.each do |topic| %>
    <li><%= link_to topic.name, topic %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %> |
<%= link_to 'Create a Job', new_job_path %>
